@charset "UTF-8";

/* 
seletores
em html = id, em css = # (serquilha)
classes
em css = . em html = class
--------------------------------
id = apenas um elemento
class = vários elementos
dá para colocar id e class no mesmo elemento, colocar só id, colocar só class e não colocar nada
também dá pra colocar duas classes juntas, só separar por espaço
*/

body {
    background-color: rgba(169, 238, 169, 0.945);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #5f915ff1;
}

#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: black;
}

.basico {
    color: #3c793cf1;

}

.intermediario {
    color: #fcf376e1;
}

.avancado {
    color: #e43333f1;
}

.destaque {
    background-color: #eee169d2;
}