@charset "UTF-8";
/* tag de codificação em casos de falha de acentuação */
        body {
            background-color: lightpink;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: aliceblue;
        }

        h2 {
            color: bisque;
        }

        p {
            text-align: justify;
        }
  